.create-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  min-width: 450px;
  max-width: 450px;
  min-height: 100px;
  max-height: 400px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e3dad9;
}

.create-post main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.create-post main textarea {
  font-size: 15px;
  border-radius: 30px;
  outline: none;
  padding: 10px;
}


.create-post main button {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  outline: none;
  background-color: #dacfcd;
  color: black;
}

.create-post main button:hover {
  background-color: #eb4033;
  color: white;
}
