.navbar {
  background-color: #ee4b4c;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.section-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  height: 60px;
  width: 130px;
  margin-right: 30px;
}

a {
  text-decoration: none;
}


ul {
    list-style: none;
    margin: 0 100px 0 0;
    padding-left: 0;
}

li {
    color: #fff;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

li:hover,
li:focus-within {
    cursor: pointer;
    background-color: #f16f70;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #ee4b4c;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  min-width: 10rem;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
  clear: both;
  width: 10rem;
}

ul li ul li a {
  font-size: 15px;
}
/* Buscador */
.searcher{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.searcher input.search-input{
  width: 300px;
  height: 35px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;
}

.searcher input.search-input:focus{
  outline: none;
}

.searcher button.search-btn{

  border: none;
  background: #fff;
  height: 35px;
  width: 50px;
  color: black;
  opacity: 0;
  font-size: 10pt;
  transition: all .55s ease;
}

.searcher:hover button.search-btn, .searcher:active button.search-btn, .searcher:focus button.search-btn{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }

  .searcher:hover button.search-btn:hover{
    background: #fdecec;
  }
