.post {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
  min-width: 450px;
  min-height: 200px;
  max-height: 400px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e3dad9;
}


.event-user {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.create-event {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 2px;
  border-top: 1px solid #e3dad9;
  border-bottom: 1px solid #e3dad9;
}

.icon-event {
  color: gray;
  padding: 8px;
}

.icon-event:hover {
  background-color: #eb4033;
  color: white;
}
